vif-dashboard {
  display: flex;
  height: 100%;

  .wrapper {
    flex:1;
    display: flex;
    flex-direction: row;

    .container {
      display: flex;
      flex-direction: column;
      flex:3;

      article {
        flex: 3;
      }

      footer {
        flex: 1;
      }
    }
    aside {
      flex: 1;
    }


  }
}

